*
{
	margin: 0;
}

input[type=checkbox]+label
{
	display:block;

}
input[type=checkbox]
{
	display: none;
}
input[type=checkbox]+label:before
{
	content: "\2714";
	border: 0.1em solid #000;
	border-radius: 0.2em;
	margin-right: 0.2em;
	width: 1em;
	height: 1em;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	color: transparent;


}
input[type=checkbox]:checked +label:before
{
   background-color:MediumSeaGreen;
   border-color: MediumSeaGreen;
   color: #fff;
}
 .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
     margin-top: 20px;
    background-color: #00b947;
    border-radius: 30px;
    float: right;
    margin-right: 170px;
   
    
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding-left: 10px;
    }

    .searchbar:hover > .search_input{
    padding: 0;
    width: 80px;
    caret-color:white;
    transition: width 0.4s linear;
    padding-left: 10px;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #00b947;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    padding-top: 8px;
    padding-left: 11px;
    }
    
    
    .nav-section-1
{
	display: inline-block;
	
	text-align: right;
	margin-top: 16px;
	
}
.nav-section-1 ul 
{
	list-style-type: none;
	display: inline-block;
	margin-top: 16px;

}
.nav-section-1 li
{
	display: inline-block;
	margin-right: 10px;


}
.nav-section-1 a
{
	font-size: 1em;
	padding-bottom: 3px;
	color:#00b947;
}
.nav-section-1 a:hover
{
	color:white;
	border-bottom: 3px solid:#760001;
	text-decoration:none;

}
.nav-section-1 li:hover
{
	background-color:#00b947;
		color:white;
		padding:3px;
		transition: 0.3s;
}

.shopping-cart
{
	width: 100px;
  
   color: #00b947;
    height: 30px;
    	font-size:2rem;


}
.shopping-cartd
{

   width: 100px;
   float: right;
    margin-right: -250px;
    margin-top: 15px;
  
}
.users
{
	width: 100px;
    color: #00b947;
    	font-size: 2rem;
}
.usersd
{
   width: 10px;
margin-top: 15px;
   float: right;
    margin-right: -100px;
    position: relative;
}
footer p
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/* partie carousel*/
.carousel-inner 
{
	height: 450px;

	  background-image:url(carousel-background.jpg);
}
.li1,.li2,.li3,.li4
{
	font-size: 1rem;
}
.bing
{
  height: 100px;
  width: 100%;
}
.carousel
{
	height: 450px;
	width: 100%;
}
.carousel-item
{
	margin-top: 50px;
	margin-left: 350px;
	
}
.banner
{
	height: 350px;
	width: 700px;
	margin-right: 30px;
}
.carous-img
{
	height: 350px;
	width: 700px;
	margin-right: 30px;
}
/* fin de partie carousel*/
body
{
	background-color: #ECF0F1;
	color: green;
}
/*footer*/
footer{
    background:red;
    margin-top: 100px;
    padding: 30px 0;
    color: white;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding-left:100px;
    list-style-type: none;
    color: #eee;
    width: 20%;
    margin-right: 40px;
    padding-top: 50px;

}

footer li{
    margin: 10px 0;
     padding-left:20px;
}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:27px;
}
footer  .email{
    color: blue;
    text-decoration: none;
}
.footer-text
{
	font-size: 20px;
}
/* fin footer*/



/*partie accueil unique*/
.loginbox
{
	width: 800px;
	height: 800px;
	background:url(fruit-1.jpg);
	
	margin-left:340px; 
	left: 50%;
	
	margin-top: 20px;
	box-sizing: border-box;
	padding: 80px 70px;

}
.row
{
	margin-left: 100px;
	margin-top: 40px;
}
.row1,.row2,.row3
{
	display: inline-block;
	width: 30%

}
h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;

}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input
{
	
	margin-bottom: 20px;
	height: 40px;
}
.loginbox input[type="text"] ,input[type="password"]
{
	
	border-radius: 20px;
	border:2px solid #00b947;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 15px;
	width: 100%;
	padding-left: 50px;

}
 .idt
{
	border: none;
	outline: none;
	background: #00b947;
	color:#fff;
	font-size: 18px;
	border-radius: 10px;
	width:200px;
	margin-top: 30px;
}
 .ins
{
	margin-top: 30px;
	border: 1px solid #00b947;
	background: #fff;
	color:#00b947;
	font-size: 18px;
	font-weight: 80px;
	border-radius: 10px;
	width: 200px;
	margin-left:50px;
	margin-top: 50px;
	margin-right: 80px;
}
 .ins:hover
{
	cursor: pointer;
	background: #00b947;
	color: #fff ;
}
 .idt:hover
{
	border: 1px solid #00b947;
	cursor: pointer;
	background:  #fff;
	color: #00b947;
}
.loginbox a
{
	text-decoration: none;
	line-height: 20px;
	font-size: 15px;
	color: blue;
	text-align: center;


}
hr
{
	background-color:#00b947 ;
	height: 1px;
	margin-bottom: 100px;
	
}
.user , .mdp
{
	color: black;
}
.connect
{
	color:black;
	font-size: 40px;

}
.loginbox a:hover
{
	color: red;
	max-width: 100%;
}
.toggle
{
	width: 240px;
	padding: 2px 2px 2px ;
	padding-left: 2px;
	background: red;
	text-align: left;
	box-sizing: border-box;
	color: white;
	font-size: 30px;
	display: none;
	margin-left: -20px;
}

.navbar
{
	
	display: none;
}
.banniere
{
	width: 100%;
	height: 80px;
	background-color: white;
	

}
.menu-bars1
{
	display: none;
}
.menu-bars
{
	display: none;

}
.amg
    {
    	
    	width: 230px;
    	height: 80px;
    	margin: 0px;
    	margin-top: -20px;
  
    }
    .afterFooter
{
	background-color:#fff;
	color: black;
	font-size: 1rem;
	height: 30px;
}
.amg2
{
	height: 30px;
	width: 80px;
	padding-right: 10px;
	padding-left: 10px;
}

.amg4,.amg5,.amg6
{
	height: 30px;
	width: 40px;
	float: right;
	padding-right: 10px;
}
.btn1
{
	height: 40px;
	width:60px;
	font-size: 0.9rem;
	margin-right: -6px;
	padding-right: 0px;
	border: none;
	padding-top: 2.6px;
	background-color:  #33cc33;
	color: white;
}

footer input[type=text]
{
	border: none;
	height: 40px;
	width: 120px;
	margin-left: 0px;
	padding-left: 0px;
font-size: 0.9rem;

}
.amg3
{
	height: 30px;
	width: 80px;
	padding-right: 10px;
	padding-left: 10px;
}



.navbar
				{
					display: none;

					position: fixed;
	width:100%;
	height: 2000px;
	background: red;
	opacity: 100%;
	color: white;
	 left:-100%;
	 top: 0;
				}
				#navbar.active
				{
				left: 0;
					transition: 350ms;
				}
				.nav-section hr
{
	background-color:#00b947 ;
	height: 2px;
	margin-bottom: 0px;
	width: 100%;
	
}
				.nav-section
				{
					display: block;
					background-color: #1a1a1a ;
				    opacity: 90%;
					width: 250px;
				     position: fixed;
				    height: 100%;
				     top: 0;
				     justify-content: center;
				     padding-left: 0px;
				     
				}

    .nav-section ul
    {
    	margin-left: 0px;
    	padding-left: 0px;
    }






/* media queries de mobiles de 375px;=======================================================================*/
 @media screen and (min-width:375px) and (max-width: 399px)
    {
    	*
    	{
          margin:0px;
         box-sizing: border-box;
    	}

    	
    	body
    	{
    		width: 100%;
    		height: 100%;
    		background-color: red;
    	}
 footer{
    background: #00b947;
    margin-top: 5px;
    padding: 20px 0;
    color: white;
    margin: 0px;
    width: 100%;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding-left: 5px;
    list-style-type: none;
    color: #eee;
    width:30%;

   


}
.ul1
{
	margin-bottom: 0px;
	margin-right: 0px;
   margin-top: 0px;
   padding-top: 0px;
display: none;
	
}
.ul2
{
	margin-bottom: 10px;
	margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-top: 0px;
}
.ul3
{
float: left;
margin-right: 0px;
padding-top: 20px;
margin-left: 0px;
margin-top: 0px;
padding-top: 0px;

}
.ul4
{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	
}
.li1,.li2,.li3,.li4
{
	
	font-size:0.5rem;
	

}

.footer-text{
	font-size: 0.5rem;
}

footer li{
    margin: 0px 0;
     padding-left:0px;
     font-size: 0.3rem;
    

}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:0px;
	 
}

footer  .email{
    color: blue;
    text-decoration: none;
}
p
{
	padding-bottom: 0px;
	 margin-bottom: 0px;
}
.afterFooter
{
	background-color:#fff;
	color: black;
	font-size: 0.2rem;
	height: 15px;
}
.amg2
{
	height: 17px;
	width: 30px;
}

.amg4,.amg5,.amg6
{
	height: 15px;
	width: 18px;
	margin-right: 0px;
	padding-right: 0px;
}
.btn1
{
	height: 18px;
	width:30px;
	font-size: 0.4rem;
	margin-right: -6px;
	padding-right: 0px;
	border: none;
	padding-top: 2.6px;
	background-color:  #33cc33;
	color: white;
}

footer input[type=text]
{
	border: none;
	height: 18px;
	width: 50px;
	margin-left: 0px;
	padding-left: 0px;
font-size: 0.4rem;

}
.amg3
{
	height: 17px;
	width: 30px;
}
footer li{
    margin: 0px 0;
     padding-left:0px;
}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:0px;
}
footer  .email{
    color: blue;
    text-decoration: none;
}
.amg
    {
    	
    	width: 100px;
    	height: 80px;
    	margin: 0px;
    	margin-top: -80px;
    	margin-left: 50px;
  
    }
    .banniere
{
	width: 100%;
	height: 80px;
	background-color: white;
	

}
    
    .menu-bars1
{
	display: block;
}
.menu-bars1
{
	margin-left: 2rem;
	font-size: 2rem;
	color: #00b947;
	margin-left: 1rem;
	margin-top: 0px;
	padding-top: 10px;
	width: 2rem;
}
	.shopping-cartd
    {
    	display: block;
    	margin-top: -07px;
    	margin-right: -20px;
    	
    }
    .users
    {
    	display: block;
    	margin-top: 0px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: -50px;
	padding-top: 10px;
	float: right;
    }
    .usersd
    {
    	
	font-size: 1.8rem;
	color: #00b947;

	margin-top: -67px;
	padding-top: 10px;
	float: right;
	margin-right: -80px;
    }
.carousel-inner 
{
	height: 250px;

	  background-image:url(carousel-background.jpg);
	  position: absolute;
}
.bing
{
  height: 100px;
  width: 100%;
}
.carousel
{
	height: 250px;
	width: 100%;
	
}
				.banner
{
	height: 150px;
	width: 250px;
	margin-right: 20px;
}
.carous-img
{
	height: 150px;
	width: 250px;
	margin-right: 20px;
}
.carousel-item
{
	margin-top: 50px;
	margin-left: 36px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: -30px;
    height: 30px;
     margin-top: px;
    background-color: #00b947;
    border-radius: 30px;
   margin-right: 88px;

   
    
    }
   .shopping-cartd
    {
    	
    	margin-top: -48px;
    	margin-right: -50px;
    }
    .userd
    {
    	
    	margin-top: -28px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: 0px;
	padding-top: 10px;
	float: right;
	}
    .users
    {
    	margin-top: 9px;
	font-size: 1.8rem;
	color: #00b947;

	margin-right: 60px;
    
	padding-top: 10px;
	float: right;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_input{
    padding: 0;
    width: 40px;
    caret-color:white;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #00b947;
    
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    padding-top: 2px;
    padding-left: 10px;
    
    }
    
    
    .nav-section-1
{
	display: none;
	
	
	
}
.loginbox
{
	width: 100%;
	height: 480px;
	background:url(fruit-1.jpg);
	
	margin-left:0px; 
	
	
	margin-top: 2px;
	box-sizing: border-box;
	padding: 30px 40px;

}
.row
{
	width: 100%;
}

h1
{
	margin: 0;
	padding: 0 0 5px;
	text-align: center;
	font-size: 22px;

}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input
{
	
	margin-bottom: 20px;
	height: 30px;
}
.loginbox input[type="text"] ,input[type="password"]
{
	
	border-radius: 20px;
	border:2px solid #00b947;
	background: transparent;
	outline: none;
	height: 30px;
	color: black;
	font-size: 15px;
	width: 100%;
	padding-left: 10px;
	margin-top: -1000px;

}
 .idt
{
	border: none;
	outline: none;
	background: #00b947;
	color:#fff;
	font-size: 18px;
	border-radius: 10px;
	width:95px;
	margin-right: 10px;
}
 .ins
{
	border: 1px solid #00b947;
	background: #fff;
	color:#00b947;
	font-size: 18px;
	font-weight: 80px;
	border-radius: 10px;
	width: 90px;
	margin-left:0px;
	margin-top: 0px;
	margin-right: 20px;
}
 .ins:hover
{
	cursor: pointer;
	background: #00b947;
	color: #fff ;
}
 .idt:hover
{
	border: 1px solid #00b947;
	cursor: pointer;
	background:  #fff;
	color: #00b947;
}
.loginbox a
{
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	color: blue;
	text-align: center;


}
hr
{
	background-color:#00b947 ;
	height: 1px;
	margin-bottom: 40px;
	
}
.user , .mdp
{
	color: black;
}
.connect
{
	color:black;
	font-size: 40px;

}
.loginbox a:hover
{
	color: red;
	max-width: 100%;
}
.toggle
{
	
	
	
	text-align: left;
	box-sizing: border-box;
	color: white;
	font-size: 30px;
	
	margin-left: -20px;
}
	#navbar
				{
					display: block;
					position: fixed;
				width: 100%;
				height: 2000px;
				background: rgba(255,255,255,.0);
				opacity: 100%;
				color: white;
				 left:-100%;
				 top: 0;
				 padding-left: 0px;
							}
				#navbar.active
				{
				left: 0;
					transition: 350ms;
				}
				.nav-section
				{
					display: block;
					background-color: #1a1a1a ;
				    opacity: 90%;
					width: 300px;
				     position: fixed;
				    padding-left: 0px;
				    margin-left: 0px;
				     top: 0;
				     justify-content: center;
				}

    ul
    {
    	width: 100%;
    	margin-left: 0px;
	padding-left: 0px;
    }
    ul li
    {
    	display: block;

    }
      
.nav-section ul 
{
	list-style-type: none;
	display: block;
	margin-left: 0px;
	padding-left: 0px;

}
.nav-section li
{
	display: block;
padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-top: 1px;
}
.nav-section a
{
	font-size: 1.1em;
	padding-bottom: 1px;
	color:white;
}
.nav-section li:hover
{
	background-color:#00b947;
		color:white;
		padding:4px;
		transition: 0.3s;
}
.row
{
	display: none;
	margin-left: 20px;
	margin-top: 40px;
}
.row1,.row2,.row3
{
	display: inline-block;
	width: 90%;

}
    }

/* media queries de mobiles de 375px;----------------------------------------------------------*/








/* media queries pour appareil de 700px*/
@media screen and (max-width: 700px)
{
					*
				    	{
				          margin:0px;
				         box-sizing: border-box;
				    	}

				    	
				    	body
				    	{
				    		width: 100%;
				    		height: 100%;
				    	}
				 footer{
				    background: #00b947;
				  
				   
				    color: white;
				    margin: 0px;
				    width: 100%;
				    padding-left: 50px;
				}
footer:after{
				    content: "";
				    display: block;
				    clear: both;
				}
				p
				{
					margin-bottom: 0px;
					padding-bottom: 0px;
				}

				footer ul{
				    float: left;
				    padding-left:0px;
				    list-style-type: none;
				    color: #eee;
				    width: 30%;
				    margin-left: 30px;
				 font-size: 0.6rem;
				 padding-left: 20px;

				}
				.ul1
				{
					margin-bottom: 5px;
				}
				.ul2
				{
					margin-bottom: 0px;
					margin-left: 0px;
					margin-right: 0px;
					padding-top: 0px;
				}
				.ul3
				{
				float: left;
				margin-left: 0px;
				
                margin-right: 0px;
				padding-top: 0px;

				}
				.ul4
				{
					margin-left: 20px;
					margin-right: 0px;
					padding-top: 0px;
				}
				.li3
				{
					margin-top: -20px;
					padding-top: 0px;
					
					

				}

				footer li{
				    margin: 0px 0;
				     padding-left:0px;

				}

				footer a{
				    color: #eee;
				    text-decoration: none;
				}
				footer .number
				{
					 padding-left:0px;
				}
				footer  .email{
				    color: blue;
				    text-decoration: none;
				}
				.afterFooter
{
	background-color:#fff;
	color: black;
	font-size: 0.7rem;
	height: 25px;
}
.amg2
{
	height: 25px;
	width: 60px;
}

.amg4,.amg5,.amg6
{
	height: 25px;
	width: 35px;
}
.ul1
{
	display: none;
}
.btn1
{
	height: 29px;
	width:45px;
	font-size: 0.6rem;
	margin-right: -6px;
	padding-right: 0px;
	border: none;
	padding-top: 2.6px;
	background-color:  #33cc33;
	color: white;
}

footer input[type=text]
{
	border: none;
	height: 29px;
	width: 80px;
	margin-left: 0px;
	padding-left: 0px;
font-size: 0.6rem;

}
.amg3
{
	height: 25px;
	width: 60px;
}
.li1,.li2,.li3,.li4
{
	
	font-size:0.8rem;
	

}
				.amg
				    {
				    	
				    	width: 100px;
				    	height: 50px;
				    	margin: 0px;
				    	margin-top: -80px;
				    	margin-left: 120px;
				  
				    }
				    .banniere
				{
					width: 100%;
					height: 80px;
					background-color: white;
					

				}
				    
				    .menu-bars1
				{
					display: block;
				}
				.menu-bars1
				{
					margin-left: 2rem;
					font-size: 2rem;
					color: #00b947;
					margin-left: 1rem;
					margin-top: 10px;
					padding-top: 20px;
					width: 2rem;
				}
				.carousel-inner 
				{
					height: 250px;

					  background-image:url(carousel-background.jpg);
					  width: 100%;
				}
				.bing
				{
				  height: 100px;
				  width: 100%;
				}
				.banner
{
	height: 180px;
	width: 380px;
	margin-right: 10px;
}
.carous-img
{
	height: 180px;
	width: 380px;
	margin-right: 10px;
}
				.carousel
				{
					height: 250px;
					width: 100%;
					
				}
				.carousel-item
				{
					margin-top: 20px;
					margin-left: 150px;
					margin-right: 0px;
				}
				.searchbar{
				    margin-bottom: auto;
				    margin-top: -40px;
				    height: 30px;
				     margin-top: px;
				    background-color: #00b947;
				    border-radius: 30px;
				   margin-right: 250px;

				   
				    
				    }
				    

				    .search_input{
				    color: white;
				    border: 0;
				    outline: 0;
				    background: none;
				    width: 0px;
				    caret-color:transparent;
				    line-height: 20px;
				    transition: width 0.4s linear;
				    padding-left: 10px;
				     margin-top: -45px;
				    }

				    .searchbar:hover > .search_input{
				    padding: 0;
				    width: 150px;
				    caret-color:white;
				    transition: width 0.4s linear;
				    padding-left: 10px;
				     margin-top: -45px;
				    }
				    .shopping-cartd
    {
    	display: block;
    	margin-top: -07px;
    	margin-right: 10px;
    	
    }
    .users
    {
    	display: block;
    	margin-top: 0px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: -50px;
	padding-top: 10px;
	float: right;
    }
    .usersd
    {
    	
	font-size: 1.8rem;
	color: #00b947;

	margin-top: -57px;
	padding-top: 10px;
	float: right;
	margin-right: 180px;
    }


				    .searchbar:hover > .search_icon{
				    background: white;
				    color: #00b947;
				    
				    }

				    .search_icon{
				    height: 30px;
				    width: 30px;
				    float: right;
				    justify-content: center;
				    align-items: center;
				    border-radius: 50%;
				    color:white;
				    text-decoration:none;
				    padding-top: 2px;
				    padding-left: 10px;
				    
				    }
				    
				    
				    .nav-section-1
				{
					display: none;
					
					
					
				}
			
					.loginbox
					{
						width: 100%;
						height: 600px;
						background:url(fruit-1.jpg);
						
						margin-left:0px; 
						
						
						margin-top: 2px;
						box-sizing: border-box;
						padding: 30px 40px;

					}
					

					h1
					{
						margin: 0;
						padding: 0 0 5px;
						text-align: center;
						font-size: 22px;

					}
					.loginbox p
					{
						margin: 0;
						padding: 0;
						font-weight: bold;
					}
					.loginbox input
					{
						
						margin-bottom: 50px;
						height: 30px;
					}
				.loginbox input[type="text"] ,input[type="password"]
				{
					
					border-radius: 20px;
					border:2px solid #00b947;
					background: transparent;
					outline: none;
					height: 30px;
					color: black;
					font-size: 15px;
					width: 100%;
					padding-left: 10px;
					margin-top: -1000px;

				}
				 .idt
				{
					border: none;
					outline: none;
					background: #00b947;
					color:#fff;
					font-size: 18px;
					border-radius: 10px;
					width:155px;
					margin-right: 10px;
				}
				 .ins
				{
					border: 1px solid #00b947;
					background: #fff;
					color:#00b947;
					font-size: 18px;
					font-weight: 80px;
					border-radius: 10px;
					width: 155px;
					margin-left:0px;
					margin-top: 0px;
					margin-right: 20px;
				}
				 .ins:hover
				{
					cursor: pointer;
					background: #00b947;
					color: #fff ;
				}
				 .idt:hover
				{
					border: 1px solid #00b947;
					cursor: pointer;
					background:  #fff;
					color: #00b947;
				}
				.loginbox a
				{
					text-decoration: none;
					line-height: 20px;
					font-size: 12px;
					color: blue;
					text-align: center;


				}
				hr
				{
					background-color:#00b947 ;
					height: 1px;
					margin-bottom: 70px;
					
				}
				.user , .mdp
				{
					color: black;
				}
				.connect
				{
					color:black;
					font-size: 40px;

				}
				.loginbox a:hover
				{
					color: red;
					max-width: 100%;
				}
				#navbar
				{
					display: block;
					position: fixed;
				width: 100%;
				height: 2000px;
				background: rgba(255,255,255,.0);
				opacity: 100%;
				color: white;
				 left:-100%;
				 top: 0;
							}
				#navbar.active
				{
				left: 0;
					transition: 350ms;
				}
				.nav-section
				{
					display: block;
					background-color: #1a1a1a ;
				    opacity: 90%;
					width: 300px;
				     position: fixed;
				    
				     top: 0;
				     justify-content: center;
				}

				    ul
				    {
				    	width: 100%;
				    }
				    ul li
				    {
				    	display: block;

				    }
				      
				.nav-section ul 
				{
					list-style-type: none;
					display: block;

				}
				.nav-section li
				{
					display: block;
					margin-right: 15px;
					padding-top: 6px;
					padding-bottom: 6px;
					margin-top: 4px;
				}
				.nav-section a
				{
					font-size: 1.1em;
					padding-bottom: 3px;
					color:white;
				}
				.nav-section li:hover
				{
					background-color:#00b947;
						color:white;
						padding:4px;
						transition: 0.3s;
				}

.row
{
	margin-left: 60px;
	margin-top: 40px;
}
.row1,.row2
{
	display: inline-block;
	width: 40%

}
.row3
{

display: inline-block;

	width: 40%
	

}
}
/*fin media queries de 700px=========================================================*/





 /*partie ecran mobiles---------------------------------------------------------------*/




    @media screen and (min-width:320px) and (max-width: 374px)
    {
    	*
    	{
          margin:0px;
         box-sizing: border-box;
    	}

    	
    	body
    	{
    		width: 100%;
    		height: 100%;
    	}
 footer{
    background: #00b947;
    margin-top: 5px;
    padding: 20px 0;
    color: white;
    margin: 0px;
    width: 100%;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding-left: 5px;
    list-style-type: none;
    color: #eee;
    width:30%;

   


}
.ul1
{
	margin-bottom: 0px;
	margin-right: 0px;
   margin-top: 0px;
   padding-top: 0px;
display: none;
	
}
.ul2
{
	margin-bottom: 10px;
	margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-top: 0px;
}
.ul3
{
float: left;
margin-right: 0px;
padding-top: 20px;
margin-left: 0px;
margin-top: 0px;
padding-top: 0px;

}
.ul4
{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	
}
.li1,.li2,.li3,.li4
{
	
	font-size:0.5rem;
	

}

.footer-text{
	font-size: 0.5rem;
}

footer li{
    margin: 0px 0;
     padding-left:0px;
     font-size: 0.3rem;
    

}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:0px;
	 
}

footer  .email{
    color: blue;
    text-decoration: none;
}
p
{
	padding-bottom: 0px;
	 margin-bottom: 0px;
}
.afterFooter
{
	background-color:#fff;
	color: black;
	font-size: 0.2rem;
	height: 15px;
}
.amg2
{
	height: 17px;
	width: 30px;
}

.amg4,.amg5,.amg6
{
	height: 15px;
	width: 18px;
	margin-right: 0px;
	padding-right: 0px;
}
.btn1
{
	height: 18px;
	width:30px;
	font-size: 0.4rem;
	margin-right: -6px;
	padding-right: 0px;
	border: none;
	padding-top: 2.6px;
	background-color:  #33cc33;
	color: white;
}

footer input[type=text]
{
	border: none;
	height: 18px;
	width: 50px;
	margin-left: 0px;
	padding-left: 0px;
font-size: 0.4rem;

}
.amg3
{
	height: 17px;
	width: 30px;
}
footer li{
    margin: 0px 0;
     padding-left:0px;
}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:0px;
}
footer  .email{
    color: blue;
    text-decoration: none;
}
.amg
    {
    	
    	width: 100px;
    	height: 80px;
    	margin: 0px;
    	margin-top: -80px;
    	margin-left: 50px;
  
    }
    .banniere
{
	width: 100%;
	height: 80px;
	background-color: white;
	

}
    
    .menu-bars1
{
	display: block;
}
.menu-bars1
{
	margin-left: 2rem;
	font-size: 2rem;
	color: #00b947;
	margin-left: 1rem;
	margin-top: 0px;
	padding-top: 10px;
	width: 2rem;
}
	.shopping-cartd
    {
    	display: block;
    	margin-top: -07px;
    	margin-right: -20px;
    	
    }
    .users
    {
    	display: block;
    	margin-top: 0px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: -50px;
	padding-top: 10px;
	float: right;
    }
    .usersd
    {
    	
	font-size: 1.8rem;
	color: #00b947;

	margin-top: -67px;
	padding-top: 10px;
	float: right;
	margin-right: -80px;
    }
.carousel-inner 
{
	height: 250px;

	  background-image:url(carousel-background.jpg);
	  position: absolute;
}
.bing
{
  height: 100px;
  width: 100%;
}
.carousel
{
	height: 250px;
	width: 100%;
	
}
				.banner
{
	height: 150px;
	width: 250px;
	margin-right: 20px;
}
.carous-img
{
	height: 150px;
	width: 250px;
	margin-right: 20px;
}
.carousel-item
{
	margin-top: 50px;
	margin-left: 36px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: -30px;
    height: 30px;
     margin-top: px;
    background-color: #00b947;
    border-radius: 30px;
   margin-right: 88px;

   
    
    }
   .shopping-cartd
    {
    	
    	margin-top: -48px;
    	margin-right: -50px;
    }
    .userd
    {
    	
    	margin-top: -28px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: 0px;
	padding-top: 10px;
	float: right;
	}
    .users
    {
    	margin-top: 9px;
	font-size: 1.8rem;
	color: #00b947;

	margin-right: 60px;
    
	padding-top: 10px;
	float: right;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_input{
    padding: 0;
    width: 40px;
    caret-color:white;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #00b947;
    
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    padding-top: 2px;
    padding-left: 10px;
    
    }
    
    
    .nav-section-1
{
	display: none;
	
	
	
}
.loginbox
{
	width: 100%;
	height: 480px;
	background:url(fruit-1.jpg);
	
	margin-left:0px; 
	
	
	margin-top: 2px;
	box-sizing: border-box;
	padding: 30px 40px;

}
.row
{
	width: 100%;
}

h1
{
	margin: 0;
	padding: 0 0 5px;
	text-align: center;
	font-size: 22px;

}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input
{
	
	margin-bottom: 20px;
	height: 30px;
}
.loginbox input[type="text"] ,input[type="password"]
{
	
	border-radius: 20px;
	border:2px solid #00b947;
	background: transparent;
	outline: none;
	height: 30px;
	color: black;
	font-size: 15px;
	width: 100%;
	padding-left: 10px;
	margin-top: -1000px;

}
 .idt
{
	border: none;
	outline: none;
	background: #00b947;
	color:#fff;
	font-size: 18px;
	border-radius: 10px;
	width:95px;
	margin-right: 10px;
}
 .ins
{
	border: 1px solid #00b947;
	background: #fff;
	color:#00b947;
	font-size: 18px;
	font-weight: 80px;
	border-radius: 10px;
	width: 90px;
	margin-left:0px;
	margin-top: 0px;
	margin-right: 20px;
}
 .ins:hover
{
	cursor: pointer;
	background: #00b947;
	color: #fff ;
}
 .idt:hover
{
	border: 1px solid #00b947;
	cursor: pointer;
	background:  #fff;
	color: #00b947;
}
.loginbox a
{
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	color: blue;
	text-align: center;


}
hr
{
	background-color:#00b947 ;
	height: 1px;
	margin-bottom: 40px;
	
}
.user , .mdp
{
	color: black;
}
.connect
{
	color:black;
	font-size: 40px;

}
.loginbox a:hover
{
	color: red;
	max-width: 100%;
}
.toggle
{
	
	
	
	text-align: left;
	box-sizing: border-box;
	color: white;
	font-size: 30px;
	
	margin-left: -20px;
}
	#navbar
				{
					display: block;
					position: fixed;
				width: 100%;
				height: 2000px;
				background: rgba(255,255,255,.0);
				opacity: 100%;
				color: white;
				 left:-100%;
				 top: 0;
				 padding-left: 0px;
							}
				#navbar.active
				{
				left: 0;
					transition: 350ms;
				}
				.nav-section
				{
					display: block;
					background-color: #1a1a1a ;
				    opacity: 90%;
					width: 300px;
				     position: fixed;
				    padding-left: 0px;
				    margin-left: 0px;
				     top: 0;
				     justify-content: center;
				}

    ul
    {
    	width: 100%;
    	margin-left: 0px;
	padding-left: 0px;
    }
    ul li
    {
    	display: block;

    }
      
.nav-section ul 
{
	list-style-type: none;
	display: block;
	margin-left: 0px;
	padding-left: 0px;

}
.nav-section li
{
	display: block;
padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-top: 1px;
}
.nav-section a
{
	font-size: 1.1em;
	padding-bottom: 1px;
	color:white;
}
.nav-section li:hover
{
	background-color:#00b947;
		color:white;
		padding:4px;
		transition: 0.3s;
}
.row
{
	display: inline-block;
	margin-left: 20px;
	margin-top: 40px;
}
.row1,.row2,.row3
{
	display: inline-block;
	width: 90%;

}
    }
  /*fin de media queries de mobiles 320px*/






  /*media queries de mobiles 400px*/


 @media screen and (min-width:400px) and (max-width: 500px)
    {
    	*
    	{
          margin:0px;
         box-sizing: border-box;
    	}

    	
    	body
    	{
    		width: 100%;
    		height: 100%;
    	}
 footer{
    background: #00b947;
    margin-top: 5px;
    padding: 20px 0;
    color: white;
    margin: 0px;
    width: 100%;
    padding-left: 20px;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding-left: 5px;
    list-style-type: none;
    color: #eee;
    width:30%;

   


}
.ul1
{
	margin-bottom: 0px;
	margin-right: 0px;
   margin-top: 0px;
   padding-top: 0px;
display: none;
	
}
.ul2
{
	margin-bottom: 10px;
	margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-top: 0px;
}
.ul3
{
float: left;
margin-right: 0px;
padding-top: 20px;
margin-left: 0px;
margin-top: 0px;
padding-top: 0px;

}
.ul4
{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	
}
.li1,.li2,.li3,.li4
{
	
	font-size:0.5rem;
	

}

.footer-text{
	font-size: 0.5rem;
}

footer li{
    margin: 0px 0;
     padding-left:0px;
     font-size: 0.3rem;
    

}

footer a{
    color: #eee;
    text-decoration: none;
}
footer .number
{
	 padding-left:0px;
	 
}

footer  .email{
    color: blue;
    text-decoration: none;
}
p
{
	padding-bottom: 0px;
	 margin-bottom: 0px;
}
.afterFooter
{
	background-color:#fff;
	color: black;
	font-size: 0.3rem;
	height: 15px;
}
.amg2
{
	height: 17px;
	width: 50px;
}

.amg4,.amg5,.amg6
{
	height: 15px;
	width: 20px;
}
.btn1
{
	height: 25px;
	width:40px;
	font-size: 0.5rem;
	margin-right: -6px;
	padding-right: 0px;
	border: none;
	padding-top: 2.6px;
	background-color:  #33cc33;
	color: white;
}

footer input[type=text]
{
	border: none;
	height: 25px;
	width: 70px;
	margin-left: 0px;
	padding-left: 0px;
font-size: 0.5rem;

}
.amg3
{
	height: 17px;
	width: 50px;
}
.amg
    {
    	
    	width: 100px;
    	height: 60px;
    	margin: 0px;
    	margin-top: -80px;
    	margin-left: 50px;
  
    }
    .banniere
{
	width: 100%;
	height: 80px;
	background-color: white;
	

}
    
    .menu-bars1
{
	display: block;
}
.menu-bars1
{
	margin-left: 2rem;
	font-size: 2rem;
	color: #00b947;
	margin-left: 1rem;
	margin-top: 0px;
	padding-top: 10px;
	width: 2rem;
}
.carousel-inner 
{
	height: 200px;

	  background-image:url(carousel-background.jpg);
	  position: absolute;
}
.bing
{
  height: 100px;
  width: 100%;
}
.carousel
{
	height: 200px;
	width: 100%;
	
}
				.banner
{
	height: 120px;
	width: 280px;
	margin-right: 20px;
}
.carous-img
{
	height: 120px;
	width: 280px;
	margin-right: 20px;
}
.carousel-item
{
	margin-top: 30px;
	margin-left: 60px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: -30px;
    height: 30px;
     margin-top: px;
    background-color: #00b947;
    border-radius: 30px;
   margin-right: 120px;

   
    
    }
    .shopping-cartd
    {
    	
    	margin-top: -48px;
    	margin-right: -30px;
    }
    .userd
    {
    	
    	margin-top: -28px;
    }
    .shopping-cart
    {
    	
	font-size: 1.8rem;
	color: #00b947;
	
	margin-top: 0px;
	padding-top: 10px;
	float: right;
	}
    .users
    {
    	margin-top: 0px;
	font-size: 1.8rem;
	color: #00b947;

	margin-right: -170px;
    
	padding-top: 10px;
	float: right;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_input{
    padding: 0;
    width: 80px;
    caret-color:white;
    transition: width 0.4s linear;
    padding-left: 10px;
     margin-top: -35px;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #00b947;
    
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    padding-top: 2px;
    padding-left: 10px;
    
    }
    
    
    .nav-section-1
{
	display: none;
	
	
	
}
.loginbox
{
	width: 100%;
	height: 480px;
	background:url(fruit-1.jpg);
	
	margin-left:0px; 
	
	
	margin-top: 2px;
	box-sizing: border-box;
	padding: 30px 40px;

}
.row
{
	display: inline-block;
	margin-left: 20px;
	margin-top: 40px;
}
.row1,.row2,.row3
{
	display: inline-block;
	width: 90%;

}

h1
{
	margin: 0;
	padding: 0 0 5px;
	text-align: center;
	font-size: 22px;

}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input
{
	
	margin-bottom: 20px;
	height: 30px;
}
.loginbox input[type="text"] ,input[type="password"]
{
	
	border-radius: 20px;
	border:2px solid #00b947;
	background: transparent;
	outline: none;
	height: 30px;
	color: black;
	font-size: 15px;
	width: 100%;
	padding-left: 10px;
	margin-top: -1000px;
	padding-bottom: 20px;

}
 .idt
{
	border: none;
	outline: none;
	background: #00b947;
	color:#fff;
	font-size: 18px;
	border-radius: 10px;
	width:95px;
	margin-right: 10px;
}
 .ins
{
	border: 1px solid #00b947;
	background: #fff;
	color:#00b947;
	font-size: 18px;
	font-weight: 80px;
	border-radius: 10px;
	width: 90px;
	margin-left:0px;
	margin-top: 0px;
	margin-right: 20px;
}
 .ins:hover
{
	cursor: pointer;
	background: #00b947;
	color: #fff ;
}
 .idt:hover
{
	border: 1px solid #00b947;
	cursor: pointer;
	background:  #fff;
	color: #00b947;
}
.loginbox a
{
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	color: blue;
	text-align: center;


}
hr
{
	background-color:#00b947 ;
	height: 1px;
	margin-bottom: 40px;
	
}
.user , .mdp
{
	color: black;
}
.connect
{
	color:black;
	font-size: 40px;

}
.loginbox a:hover
{
	color: red;
	max-width: 100%;
}
	#navbar
				{
					display: block;
					position: fixed;
				width: 100%;
				height: 2000px;
				background: rgba(255,255,255,.0);
				opacity: 100%;
				color: white;
				 left:-100%;
				 top: 0;
							}
				#navbar.active
				{
				left: 0;
					transition: 350ms;
				}
				.nav-section
				{
					display: block;
					background-color: #1a1a1a ;
				    opacity: 70%;
					width: 300px;
				     position: fixed;
				    
				     top: 0;
				     justify-content: center;
				}

    ul
    {
    	width: 100%;
    }
    ul li
    {
    	display: block;

    }
      
.nav-section ul 
{
	list-style-type: none;
	display: block;

}
.nav-section li
{
	display: block;
	margin-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 4px;
}
.nav-section a
{
	font-size: 1.1em;
	padding-bottom: 3px;
	color:white;
}
.nav-section li:hover
{
	background-color:#00b947;
		color:white;
		padding:4px;
		transition: 0.3s;
}

    }
    /*fin de media queries de 400*/